body {
  margin: 0;
  }

/****************   Nav Section **********************/
nav {
	background-color: rgb(46, 133, 74);
  border-bottom: 5px solid rgb(29, 82, 46);
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}

/***********************  Footer Section   **************************/
footer {
	background-color: rgb(46, 133, 74);
  border-top: 5px solid rgb(29, 82, 46);
  display: flex;
  justify-content: center;
  padding: 10px;
}

/*********** Splash Page ************************/
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgb(225, 235, 255);
}

header h1 {
  font-size: 2.5em;
  color: rgb(18, 51, 118);
  padding: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header img {
  border-radius: 30%;
  padding: 3px;
  border: 3px solid rgb(18, 51, 118);
}

.address {
  display: flex;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0 50px 0 50px;
}

.tagline {
  padding: 10px 50px 10px 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/************* Sections ********************/
hr {
  border: 0;
  height: 5px;
  background-color: rgb(29, 82, 46);
}

section h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(18, 51, 118);
  padding: 0 10px 0 10px;
}

section dl {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section ul {
  list-style-type: circle;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section a {
  text-decoration: none;
  color: rgb(188, 15, 15);
}

section a:hover {
  text-decoration: underline;
  color: rgb(29, 82, 46);
}

/**************   Projects   *****************/
.three-col {
	display: grid;
  gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  justify-content: center;
}

.card img {
  width: 95%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: rgb(225, 235, 255);
  border-radius: 5%;
  outline-style: groove;
  outline-color: rgb(70, 100, 170);
}

.card:hover {
  box-shadow: 5px 4px 8px 5px rgba(0,0,0,0.2);
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
      display: block;
      flex-direction: column;
      padding: 10px 0 0 20px;
    }

    .three-col {
      grid-template-columns: 1fr;
    }

}

/**************   Contact Page   *****************/
.one-col {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
}

input {
  margin: 10px;
}

textarea {
    width: 95%;
}